@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600');

body{
  font-family: 'Montserrat';
}
.container{
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  font-size: 2rem;
  font-weight: 600;
}

.btn{
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
}
.username{
  font-weight: bold;
  color: blue;
}
.time{
  font-size: 0.7em;
  color: #999;
}